# Dependencies
node_modules/

# Build output
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
